[data-tab-content]{
    height: 0px;
    transition: height 0.75s;
    animation: fade-out 0.5s ease-out forwards;
}

:root {
  /* This tells the engine to allow animations for keywords like auto or fit-content */
  interpolate-size: allow-keywords;
}


.active[data-tab-content]{
    height: auto;
    transition: height 0.75s;
    animation: fade-in 0.7s ease-in forwards;
}

@keyframes fade-in {
  0% {  
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@font-face {
    font-family: 'super_kindlyregular';
    src: url('superkindly-dre8e-webfont.woff2') format('woff2'),
         url('superkindly-dre8e-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'ARCO';
  src: url('ARCO.ttf');
}
.tabs{
    width:70vw;
    position: relative;

    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    padding-top: 0.5%;
    margin:auto;
    font-size: 2.3vmax;
    background-color: #0047ab;
    color: #f7b801;
    margin-top: 2%;
    border-radius: 20px 20px 0px 0px ;
    border: solid white;
    border-bottom: none;
    box-sizing: border-box  ;
    border-width: 3px;
}

body{
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    font-family: "Nunito", sans-serif;
    --angle: 0deg;
    background: #9796f0;  /* fallback for old browsers */
    background: linear-gradient(var(--angle), #f0b7b7, #8441e8);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tab{
    cursor: pointer;
    padding: 10px;
    margin-top: 1%;
    margin: 0%;
    border-radius: 20px 20px 0% 0%;
    text-align: center;
    font-size: 1em;
    font-family: "super_kindlyregular";
    box-sizing: border-box;
}

.tab.active{
    background-color: #A47FFA;
    color: #f7b801;
    border-style: solid;
    border-color: white;
    border-bottom: #A47FFA;
    box-shadow: 20px 5px 0px -5px #003175;      
}

.tab:hover{
    color: #f18701;
    background-color: #3d348b;
    border-bottom: none;
}

.tab-content{
    margin: auto;
    border-radius: 0% 0% 20px 20px;
    border:white solid 3px;
    width: 70vw;
    box-sizing: border-box;
    background-color: #A47FFA;
    display: grid;
    grid-row: 1/1;
    grid-column: 1/1;
}

.content{
    width: 70vw;
    flex-direction: column-reverse;
    padding: 20px;
    margin-left: auto;
    margin-right:auto;
    padding-bottom:6vw;
    box-sizing:border-box;
    border-top: none;
    border-radius: 0% 0% 20px 20px;
    grid-row: 1/1;
    grid-column: 1/1;
        & h1{
        font-family: "super_kindlyregular";
        margin:0px;
        font-size: 2.5em;
        margin-left: 0%;
        font-weight: lighter;
    }
    
}
p{
    text-align: left;
    
    margin: 0%;
    margin-bottom: 0.5em;
    padding: 0%;
    font-size: 1.5em;
}

.Youtube-Section{
    display:grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: repeat(1fr) ;
    gap: 0.5em;
    width: 100%;
    margin:auto;
}


#mascot{
    border: 0;
    padding: 0;
    grid-row: 1 / span 2;
    grid-column: 4 / span 1;
    width: fit-content;
    height: 100%;
    display: block;
    margin-left: auto;
}

#logo{
    width: 90vw;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns:1fr 2.5fr 1fr 0.75fr ;
    grid-template-rows: 5vw 4vw;
    padding: 0px;
    justify-content: center;
}
#Name{
    grid-row: 1 / span 1;
    grid-column:2 / span 1;
    font-size: 4.3vw;
    font-family: "ARCO";
    margin-bottom: 0vw;
    color: #7678ED;
      -webkit-text-stroke-width: 0.2vw;
  -webkit-text-stroke-color: rgb(255, 255, 255);
    font-weight: 450;
}   
#Trust{
    font-size: 3.1vw;
    font-family: "ARCO";
    grid-row: 2 /span 1;
    grid-column: 2 / span 1;
          -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  color: #7678ED;
  justify-content: top;
  align-items: top;
  margin-bottom: 0vw;
}

.active[data-tab-content]::after {
    content: "";
    position: absolute;
    left: 80vw;
    background-image: url(kobold2_2resized.png);
    background-size: contain;
    background-repeat: no-repeat    ;
    width:16vw;
	aspect-ratio: 1.193609022556390977;
    margin: 0%;
    z-index: 1;
}

#Corner{
    background-image: url(kobold2_2resized.png);
    background-size: contain;
    background-repeat: no-repeat;
    offset-distance: 30%;
    offset-position: bottom;
    offset-path: content-box;
    offset-rotate: 0deg;
    width: 200px;
	aspect-ratio: 1.193609022556390977;
    z-index: 2;
    margin:0px;
    padding:0px;
    position: absolute;
}


#actual-Logo{
    width: fit-content;
    height: 100%;
        grid-row: 1 /span 2;
    grid-column: 1 / span 1;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out;
  z-index: -1;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 0.3; }
}


.box{
    margin: auto;
    width: 85%;
    background-image: url(LeftCloud.svg),url(RightCloud.svg);
    background-position: left,right;
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    width: 60vw;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    transition: all 0.5s;
    & ul{
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        margin:auto;
        list-style-type: none;
    }
}

#footer-button{
    width: 5vw;
}

a:link {
  color: #003175 ;
  
}

/* visited link */
a:visited {
  color: #3c00ab;
  
}

/* mouse over link */
a:hover {
  color: #ffc61b;
  
}
/* selected link */
a:active {

  color:#f18701;
}

/* Grid Styling */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr)) ;
    width:100%;
    gap: 0.75em;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;  
    margin-top:20px;
    margin-bottom:20px;
    
}

.grid-item{
    width:100%;
    color: black;
    text-align: center;
    border-radius: 2px;                                                   
    font-size: 3vmin;
    display: grid;
    flex-direction: column;
    align-items: center ;
    justify-items: center;
    place-items: center;
    grid-template-rows: subgrid;
    grid-row: span 3;
    background-color: #003175;
    border-radius: 25px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right:auto;
    
}

.grid-item p{
    margin-left:0.5em;
    margin-right:0.5em;
    margin-top:0.5em;
    margin-bottom: 0.25em;
    width: 90%;
    
    font-family: "super_kindlyregular";
    font-size: 2.5cqh;
    grid-column: 1/2;

}

.grid-item span{
    font-family:"nunito";
    font-size: 0.75em;
    
}
.grid-item .Img-Link{
    justify-content: center;
    border-radius: 25px;
    width:95%;
    display:block;
    margin:0.5em;
}
.grid-item img{
    border-radius:25px;
    width:90%;
    outline: #9796f0 solid 3px;
}

.text{
    width: 90%;
    background-color: #9796f0 ;
    /*grid-row: 2;
    grid-column:1/1;*/
    align-items: end;
    padding: 1px;
    border-radius:25px;
    font-size: 0.8em;
    height:100%;

}



.Youtube-Videos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr)) ;
    grid-auto-rows: 1fr;
    gap: 1em;
    justify-content: center;
    
    margin: auto;
}

.Video-Slide{
    justify-self: center;
    padding-top: 5px;
    container-type: inline-size;
    width:100%;
    color: black;
    text-align: center;
    border-radius: 2px;                                                   
    font-size: 1.5em;
    display: grid;
    flex-direction: column;
    text-align: left;
    align-items: center ;
    justify-items: center;
    place-items: center;
    grid-auto-rows: 1.3fr 1fr;
    background-color: #003175;
    border-radius: 25px;
    border-bottom: 0px;
}


.YT-Description{
    width: 90%;
    background-color: #9796f0 ;
    /*grid-row: 2;
    grid-column:1/1;*/
    align-items: end;
    margin: 5px;
    border-radius:25px;
    font-size: 0.5vw;
    height:90%;
    
}

.Video-Slide img{
    margin:5px;
    border-radius:25px;
    width:90%;
    outline: #9796f0 solid 3px;
}

.Video-Slide p{
    width:95%;
    margin: 8px;
    font-weight: 850;
    font-size: 7cqw;
    
}

.button-stars {
  position: absolute;
  opacity: 0;
  top: -.3em;
  right: -.3em;
  height: 100%;
  transition: transform 300ms,opacity 150ms;
}

.button-stars :nth-child(n) {
  fill: #f18701;
}

.send-me-an-email {

  position: relative;
  cursor: pointer;
  
  width: 100%;
  padding: 0.25em 0.6em;
  border: 0;
  border-radius: .5em;
  font-weight: bolder;
  transition: transform 150ms, box-shadow 150ms;
  box-shadow: 0 0 #A47FFA;
  background-color: #0047ab;
  color: #f7b801;
  font-family: "super_kindlyregular";
  font-size: 2.3vw;
  font-weight: normal;
}

.send-me-an-email:hover {
  transform: translate(.3em,-.3em);
  box-shadow: -.3em .3em #3d348b;
}

.send-me-an-email:hover > .button-stars {
  opacity: 1;
  transform: translate(.2em,-.2em);
}

.send-me-an-email:active > .button-stars :nth-child(n) {
  fill: #ccc;
}

#button-div{
    
    grid-row: 1/span 2;
    grid-column: 3 / span 1;
    margin:1em;
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 768px) {
    .tabs{
        width: 90vw;
        border-width:2px;
        font-size: 1.5vmax;

        }
    .tab.active{
        border-width: 1px;
            box-shadow: 10px 5px 0px -5px #003175;  
    }
    .tab-content{
        width: 90vw;
        border-width: 2px;

    }
    .tab{
        margin-top: 5px;
        border-radius: 10px 10px 0px 0px;
        
    }
    .content{
        width:90vw;
        font-size: 0.75em;
    }
    #Name{
       font-size: 5.75vw;
       grid-column: 2 / span 1;
       margin-left:0.2vw; 
    }
    #Trust{
        margin-left:0.2vw; 
        font-size:4.1vw;
        grid-column: 2 / span 1; 
              -webkit-text-stroke-width: 0.1vw;
  -webkit-text-stroke-color: rgb(255, 255, 255);
    }
    .send-me-an-email{
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        font-size: 4vw;
    }
    #button-div{
        margin-left: 0em;
        margin-right:0em;
        margin-top: 1vw;
        margin-bottom: 1vw;
        grid-row:3/ span 1;
        grid-column: 1/span 4;
    }
    #footer-button{
        width:8vw;
    }
    footer{
        margin-top: 2vw;
        width:75vw;
    }
    #logo{
        width: 98vw;
        grid-template-rows: 8vw 6.5vw 8vw;
        margin-bottom: 2.5vh;
        grid-template-columns:1fr 2.6fr 0.7fr ;
    }
    #mascot{
        grid-column: 3 / span 1;
    }
    .Video-Slide{
            grid-auto-rows: 1.3fr 0.75fr;

    }
    .active[data-tab-content]::after {
        left: 85vw;
        width:30vw;
    }
@media screen and (max-width: 1024px) {
        .active[data-tab-content]::after {
        left: 80vw;
        width:30vw;
    } 
        footer{
        margin-top: 5vw;
        width:75vw;
    }   
    }
}