[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

@font-face {
    font-family: 'super_kindlyregular';
    src: url('superkindly-dre8e-webfont.woff2') format('woff2'),
         url('superkindly-dre8e-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.tabs{
    width:70%;
    position: relative;
    
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 0.5%;
    margin:auto;
    font-size: 2vw;
    background-color: #0047ab;
    color: #f7b801;
    margin-top: 2%;
    border-radius: 20px 20px 0px 0px ;
    border-color: white;
    border-style: solid;
    border-bottom: none;
}

body{
    padding: 0;
    margin: 0px;
    font-family: "Nunito", sans-serif;

    --angle: 0deg;  
    background: linear-gradient(var(--angle), #f0b7b7, #8441e8);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.tab{
    cursor: pointer;
    padding: 10px;
    margin-top: 1%;
    margin: 0%;
    border-radius: 20px 20px 0% 0%;
    text-align: center;
    font-size: 1em;
    font-family: "super_kindlyregular";
    
}

.tab.active{
    background-color: #A47FFA;
    color: #f7b801;
    border-style: solid;
    border-color: white;
    border-bottom: none;
    box-shadow: 10px 10px #003175;
    
}

.tab:hover{
    color: #f18701;
    background-color: #3d348b;

    border-bottom: none;
}

.tab-content{
    width: 66%;
    display:flex;
    position: relative;
    
    margin: auto;
    
    padding:1% 2%;
    padding-left: 2%;
    padding-bottom: 1%;
    border-style: solid;
    border-color: white;
    border-top: none;
    background-color: #A47FFA;
    border-radius: 0% 0% 20px 20px;
    min-height: 400px;
    color: black    ;
   /* text-shadow: 0px 0px 0.5em #4b4f9b;*/
    
    & h1{
        font-family: "super_kindlyregular";
        margin:5px;
        font-size: 2.5em;
        margin-left: 0%;
        font-weight: lighter;
    }
}

p{
    text-align: left;
    position: relative;
    margin: 0%;
    margin-bottom: 0.5em;
    padding: 0%;
    font-size: 1.5em;
}


.caption{
        margin-bottom: 0px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        border-radius: 0px 0px 10px 10px;
        background-color: #3d348b;
        color: white;
        width: 98%;
        font-size: 1.5vh;
        padding-left: 2%;
        
    }

.row {
   display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 0.1%;
}

/* Create four equal columns that floats next to each other */
.column {
  margin: auto;
  
  width: calc(25% - 20px);
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;

}

/* Content */
.content {
    
    position: relative;
    background-color: #003175;
  padding:10px;
  
  border-radius: 10px;
    min-height: 250px;

}
.column img{
    width:100%;
    height: auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: calc(50% - 20px);
  }
  .content{
    min-height: 100px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
  .column {
    width: calc(100% - 20px);
  }
}*/
#tagline{
    margin: auto;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    width: 95%;
    font-size: 2.90vw;
    color: #7678ED;
    list-style: none;
    padding: 0%;
    font-family: "super_kindlyregular";
    text-align: center;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

    & li{
        padding-left: 1%;
        padding-right: 1%;
        
    }
}

#button{
    padding: 0px;
    padding-top: 1%;
    float: right;
    width: auto;
    height: 5vw;
}

#button:hover{
    padding: 0px;
    
    content: url(Email\ Open\ Final.svg);
}

#Thumbnail{
    margin: 15px 15px 0px 0px;
    border-radius: 5px;
    height: 30%;
    width: 30%;
    
}

#Youtubelinks {
    float: left;
    box-sizing: border-box;
    margin:1%;
    padding-top:0.5%;
    padding-bottom:0.5em;
    padding-left: 0%;
    text-align: left;
    list-style-type: none;
    vertical-align: top;
    margin-bottom: 5%;
    max-height: 50vw;
    overflow: auto;
    scrollbar-color: rgba(191, 191, 191, 0.5) rgba(255, 0, 0, 0);
    & .TextContent {
        margin: 1%;
        font-family: "Nunito", sans-serif;
        font-weight:bold; 
        flex-flow: column nowrap;
        padding: 0;
        text-align: left;
        vertical-align: top;
        
        & p{
            font-size: 0.8vw;
            margin:1%;
            padding:0;
            height: 5vw;
            overflow: auto;
            
            
        }
        & a{
            margin-top: 1em;
            font-size: 150%;
            font-weight: bolder;
            text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
        }
    }
    & li {
        margin-top: 5px;
        display: flex;
        flex-flow: row nowrap;

        margin-bottom: 10px;
        vertical-align: top;

        font-size: 0.85vw;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1% 1%;
    padding: 0;
}

#mascot{
    border: 0;
    padding: 0;
    
    float: right;
    width: auto;
    height: 25vh;
    display: block;
    margin-left: auto;
}

#logo{
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    padding: 0px;
}

.active[data-tab-content]::after {
    content: "";
    display: flex;
    position: absolute;
    right:-275px;
    bottom: -8vh;
    background-image: url(kobold2_2resized.png);
    background-size: contain;
    background-repeat: no-repeat    ;
    width: 35vw;
    height: 14vw;
    max-width: 300px;
    max-height: 531px;
    
    aspect-ratio: auto;
    margin: 0%;
    z-index: 1;
    
    
}

#actual-Logo{
    height: 25vh;
    width: auto;
    display: block;
    float: left;
    
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle 2s infinite ease-in-out;
  z-index: -1;
}

@keyframes twinkle {
  0%, 100% { opacity: 0.8; }
  50% { opacity: 0.3; }
}



.box{
    
    margin:auto;
    width: 85%;
    
    background-image: url(LeftCloud.svg),url(RightCloud.svg);
    background-position: left,right;
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    
    & ul{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        margin:auto;
        list-style-type: none;
    }
}

#footer-button{
    width: 3.5vw;
}

a:link {
  color: #f7b801;
}

/* visited link */
a:visited {
  color:#f18701;
}

/* mouse over link */
a:hover {
  color: #5983FF;
}
/* selected link */
a:active {
  color:#184FF3;
}

@media only screen and (max-width: 600px) {
    body{
        margin: 0px;
    }
    .tabs{
        width: 85vw;
        border-radius: 10px 10px 0px 0px;
        border-width: 1px;
        font-size: 1.5vh;
    }
    .tab-content{
        width: 81vw;
        padding-bottom: 1vh;
        font-size: 1.25vh;
        padding-left:2vw;
        border-width: 1px;
        padding-right:2vw;
    }
    .active[data-tab-content]::after {
        margin: 0px;
        padding: 0px;
        right:-25px;
        bottom: -30px;
        width: 75px;
        height: 75px;
    }

    #footer-button{
    width: 5vw;
    }
    #mascot{
        width: 100px;
        height: auto;        
    }

    #actual-Logo{
        
        width: 55vw;
        height: auto;
        
    
    }
    #Youtubelinks {
        font-size: 1vh;
        & .TextContent {
            & p{
                font-size: 1.5vw;
                
            
            }
            & a{
                font-size: 150%;

            }
        }
        & li{
            font-size: 1vh;
        }
    }
    
    #Thumbnail{
        height: 9vh;
        width: auto;
        margin:1px 1px 0px 0px;
    }


    .box{
        width: 90%;
        margin: auto;
        
    }
    #tagline{
        width: 100%;
        font-size: 2.2vh;
        text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff, 0.5px 0.5px 0 #fff;
        margin: 0;
    }
    #button{
        height: 7vw;
    }

    .tab.active{
        border-width: 1px;
        box-shadow: 3px 3px #003175;
    }

    .tab{
        border-radius: 10px 10px 0px 0px;
        padding:4px;
    }
    footer{
    width: 90%;
    
    
    & ul{
        padding: 0;
    }
}
}


